force-app/main/default/flows/MCCreateNewAssetFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Asset</name>
        <label>Create New Asset</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>MCCreateNewAssetCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>assetName</name>
            <value>
                <elementReference>Get_Record.Asset_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>categoryName</name>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>connection</name>
            <value>
                <stringValue>MC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Get_Record.Description__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>Get_Newest_Document_Link.ContentDocumentId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>exAuthenticationFailed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Authentication failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>exConnectionNotFound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Connection not found</stringValue>
        </value>
    </constants>
    <constants>
        <name>exInvalidResponse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid response</stringValue>
        </value>
    </constants>
    <constants>
        <name>exMissingFileId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing required input parameter: fileId</stringValue>
        </value>
    </constants>
    <constants>
        <name>exUnsupportedAssetType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsupported asset type</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Exception</name>
        <label>Check Exception</label>
        <locationX>1100</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connection_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>exConnectionNotFound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Connection_not_found</targetReference>
            </connector>
            <label>Connection not found</label>
        </rules>
        <rules>
            <name>Missing_FileId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>exMissingFileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Missing_File_Id</targetReference>
            </connector>
            <label>Missing FileId</label>
        </rules>
        <rules>
            <name>Unsupported_asset_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>exUnsupportedAssetType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screeen_Unsupported_asset_type</targetReference>
            </connector>
            <label>Unsupported asset type</label>
        </rules>
        <rules>
            <name>Authentication_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>exAuthenticationFailed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Authentication_failed</targetReference>
            </connector>
            <label>Authentication failed</label>
        </rules>
        <rules>
            <name>Invalid_response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>exInvalidResponse</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Invalid_response</targetReference>
            </connector>
            <label>Invalid response</label>
        </rules>
    </decisions>
    <description>Invoke Apex class to upload a file as a new asset in Marketing Cloud</description>
    <interviewLabel>MCCreateNewAssetFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCCreateNewAssetFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Newest_Document_Link</name>
        <label>Get Newest Document Link</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Newest_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Creative_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_File_Size__c</field>
            <value>
                <elementReference>Create_New_Asset.fileSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Height__c</field>
            <value>
                <elementReference>Create_New_Asset.height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Width__c</field>
            <value>
                <elementReference>Create_New_Asset.width</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Asset_Id__c</field>
            <value>
                <elementReference>Create_New_Asset.internalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Datetime__c</field>
            <value>
                <elementReference>Create_New_Asset.publishedDatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_URL__c</field>
            <value>
                <elementReference>Create_New_Asset.publishedURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Create_New_Asset.status</elementReference>
            </value>
        </inputAssignments>
        <object>Creative_Asset__c</object>
    </recordUpdates>
    <screens>
        <name>screeen_Unsupported_asset_type</name>
        <label>Unsupported asset type</label>
        <locationX>968</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg_Unsupported_asset_type</name>
            <fieldText>&lt;p&gt;This file is an unsupported asset type.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Authentication_failed</name>
        <label>Authentication failed</label>
        <locationX>1232</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg_Authentication_failed</name>
            <fieldText>&lt;p&gt;Authentication failed - check your connection settings&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Connection_not_found</name>
        <label>Connection not found</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg_Connection_not_found</name>
            <fieldText>&lt;p&gt;Invalid connection configuration.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Invalid_response</name>
        <label>Invalid response</label>
        <locationX>1496</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg_Invalid_response</name>
            <fieldText>&lt;p&gt;Invalid response from Marketing Cloud:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Missing_File_Id</name>
        <label>Missing File Id</label>
        <locationX>704</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg_Missing_File_Id</name>
            <fieldText>&lt;p&gt;No attached file to upload.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
