force-app/main/default/flows/MCCreateNewAssetFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Asset</name>
        <label>Create New Asset</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>MCCreateNewAssetCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>Get_Record.File_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assetName</name>
            <value>
                <elementReference>Get_Record.Asset_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assetType</name>
            <value>
                <elementReference>Get_Record.Asset_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>connection</name>
            <value>
                <stringValue>Payback</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerKey</name>
            <value>
                <elementReference>Get_Record.Customer_Key__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Get_Record.Description__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>Get_Newest_Document_Link.ContentDocumentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>Get_Record.Version__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <description>Invoke Apex class to upload a file as a new asset in Marketing Cloud</description>
    <interviewLabel>MCCreateNewAssetFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCCreateNewAssetFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Newest_Document_Link</name>
        <label>Get Newest Document Link</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Newest_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Creative_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_File_Size__c</field>
            <value>
                <elementReference>Create_New_Asset.fileSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Height__c</field>
            <value>
                <elementReference>Create_New_Asset.height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Width__c</field>
            <value>
                <elementReference>Create_New_Asset.width</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Asset_Id__c</field>
            <value>
                <elementReference>Create_New_Asset.internalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_Datetime__c</field>
            <value>
                <elementReference>Create_New_Asset.publishedDatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Published_URL__c</field>
            <value>
                <elementReference>Create_New_Asset.publishedURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Create_New_Asset.status</elementReference>
            </value>
        </inputAssignments>
        <object>Creative_Asset__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
